<footer class="footer">
  <div class="footer__section footer__section--credits">
    2018 <span class="footer__cc">(cc)</span> dokodex, by <a href="http://docodex.es">dokodex</a>
  </div>  
  <div class="footer__section footer__section--rrss">
    <a href="https://www.instagram.com/pablo.n.everchanging/" target="_blank" class="footer__rrss footer__rrss--instagram">
      {% include svg/instagram.svg %}
      <span class="footer__rrss-span">Instagram</span>
    </a>
    <a href="https://telegram.me/dokodex" target="_blank" class="footer__rrss footer__rrss--telegram">
      {% include svg/telegram.svg %}
      <span class="footer__rrss-span">Telegram</span>
    </a>
    <a href="https://github.com/dokodex" target="_blank" class="footer__rrss footer__rrss--github">
      {% include svg/github.svg %}
      <span class="footer__rrss-span">Github</span>
    </a>
    </a>
  </div>  
</footer>
</div>